body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}
.total-hours, form, .past-shifts {
    background-color: #2c2c2c;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 300px;
    margin-bottom: 1rem;
}
.total-hours {
    text-align: center;
}
.total-hours label, .past-shifts h3 {
    display: block;
    margin-bottom: 0.5rem;
    color: #b0b0b0;
}
.total-hours .value {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4CAF50;
}
form {
    padding: 2rem;
}
h2, h3 {
    margin-top: 0;
    color: #ffffff;
}
label {
    display: block;
    margin-bottom: 0.5rem;
    color: #b0b0b0;
}
input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #444;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #3a3a3a;
    color: #e0e0e0;
}
input[type="submit"], #reset-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.75rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 300px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
input:focus {
    outline: none;
    border-color: #4CAF50;
}
.past-shifts {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}
.past-shifts table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}
.past-shifts th, .past-shifts td {
    border: 1px solid #444;
    padding: 0.5rem;
    text-align: left;
}
.past-shifts th {
    background-color: #3a3a3a;
}
#reset-button {
    border-radius: 4px;
    background-color: #FF0000;
}
#reset-button:hover {
    background-color: #990000;
}
td {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.remove-button {
    text-decoration: none;
    color: red;
    font-weight: bold;
}
.remove-button:visited {
    color: red;
}
.remove-button:hover {
    color: darkred;
}
