<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hours recorder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}">
</head>
<body>
    <div class="total-hours">
        <label for="total-hours">Total Hours</label>
        <div id="total-hours" class="value">{{totalHours}}</div>
    </div>
    <form method="post" action="/submit">
        <h2>Enter hours</h2>
        <label for="start-time">Start Time (24-hour):</label>
        <input type="time" id="start-time" name="start-time" required>

        <label for="end-time">End Time (24-hour):</label>
        <input type="time" id="end-time" name="end-time" required>

        <label for="break-time">Break Time (minutes):</label>
        <input type="number" id="break-time" name="break-time" min="0" step="1" required>

        <label for="shift-date">Shift Date:</label>
        <input type="date" id="shift-date" name="shift-date" value="{{ todaysDate }}" required>

        <input type="submit" value="Submit">
    </form>
    <div class="past-shifts">
        <h3>Past Shifts</h3>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Hours</th>
                    <th>Shift(Break)</th>
                    <th>Date</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody id="shift-data">
            {% for line in loadedData %}
                <tr>
                    <th>{{ line['id'] }}</th>
                    <th>{{ line['hours'] }}</th>
                    <th>{{ line['shift'] }}</th>
                    <th>{{ line['date'] }}</th>
                    <td>
                        <a href="{{ url_for('remove', id_to_remove=line['id']) }}" class="remove-button">X</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <form method="get" action="/reset">
        <button type="submit" id="reset-button">Reset</button>
    </form>
</body>
</html>